@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Protest+Strike&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #393737f7;
    color: white ;
}

html{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}